.con {
    text-align: center;
    background-color: beige;
}

.ol {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.an {
    text-align: center;
    text-decoration: none;
    background-color: blanchedalmond;
    text-transform: capitalize;

}

.con {
    text-transform: capitalize;
    background-image: linear-gradient(#254336, #6B8A7A, #B7B597, #DAD3BE);
}