/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.media {
    height: 400px;
    width: 400px;
    background-image: linear-gradient(#254336, #6B8A7A, #B7B597, #DAD3BE);
    color: black;
    box-shadow: 20px -20px 40px 5px black;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 800px) {
    .media {
        height: 200px;
        width: 200px;
        background-image: linear-gradient(#2B2A4C, #B31312, #EA906C, #EEE2DE);
        color: white;
        box-shadow: 10px -10px 20px 5px black;
        font-size: smaller;

    }
}
ul{
    list-style-image: url(./assets/images/download-removebg-preview.ico);
}
.name{
    border: 5px solid #254336;
    border-style: dotted;
    border-radius: 20px;
height: 30px ;
width: 500px;
font-size: 30px;
font-weight:bolder;
font-family: em;
padding-left: 30px;
border-top: none;
border-left: none;
border-right: none;
}